.service-icon {
    background-color: #ffff;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.service-icon .social-icon {
    color: #088286;
}